.Container {
  width: 100%;
  text-align: center;
}

.HeaderPanel {
  margin: -10px;
}

.InputPanel {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
  text-align: left;
}

.ButtonPanel{
  display: block;
  margin-top: 20px;
  margin-left: 5px; 
  margin-right: 5px;
}

.Label {
  margin-bottom: 5px;
}

.Input {
  width: 100%;
}

.Button {
  width: 100%;
  margin-top: 10px;
}

.SignIn {}

.SignUp {}

@media only screen and (min-width: 767px) {
  .Container {
    width: 600px;
    margin: 10% auto;
  }
  .ButtonPanel{
    display: flex;
  }
  .InputPanel{
    display: flex;
    text-align: left;
  }
  .Label {
    display: flex;
    width: 20%;
    align-self: center;
  }
  .Input {
    width: 80%;
  }
  .SignIn{
    margin-right: 5px;
  }
  .SignUp{
    margin-left: 5px;
  }
}